<section class="about-me" id="about-me">
    <h1 class="title-section">About me</h1>
    <div class="container">
        <div class="first-part">
            <p class="first-part-text">I work with people all over the world to create impressive and <span
                    class="first-span">functional</span><span class="second-span"> websites</span> that reflect each
                client's unique
                personality.</p>
            <img class="photo" src="../images/about/about-mobile@1x.jpg" alt="photo">
        </div>
        <div class="second-part">
            <ul class="list-information">
                <li class="list-item">
                    <div class="list-item-ac">
                        <h3 class="list-item-title">ABOUT ME</h3>
                        <button class="accordion-button" type="button">
                            <svg class="mobile-open-ac" width="18" height="18">
                                <use href="../images/favicon/icons.svg#icon-arrow-down"></use>
                            </svg>
                        </button>

                    </div>
                    <div class="accordion-content">
                        <p class="list-item-description">I am Lloyd Jefferson, a talented programmer with extensive
                            expertise in software development. I have an understanding of
                            different programming languages and technologies, always ready to improve my skills. I
                            always
                            follow the latest trends
                            and look for unconventional, creative solutions to problems. I have a high level of
                            analytical
                            skills and am able to
                            effectively solve even the most difficult tasks encountered on the way.</p>
                        <p class="list-item-description list-item-description2">Able to work both independently and in a
                            team. I can effectively
                            cooperate with colleagues, exchanging ideas and finding
                            optimal solutions. Professional maturity allows you to calmly cope with challenges and
                            stressful
                            situations, while
                            maintaining a high quality of work.I am always looking for opportunities for
                            self-improvement. I
                            actively study new
                            technologies and practices to stay abreast of the latest innovations. I have a strong
                            understanding of various
                            programming languages, frameworks and architectural concepts that allow me to create
                            efficient
                            and scalable software.</p>
                </li>
        
        <li class="list-item">
            <div class="list-item-ac">

                <h3 class="list-item-title">ROLE</h3>
                <button class="accordion-button" type="button">
                    <svg class="mobile-open-ac" width="18" height="18">
                        <use href="../images/favicon/icons.svg#icon-arrow-down"></use>
                    </svg>
                </button>

            </div>

            <ul class="list-item-list">
                <li>
                    <p class="list-item-description">Frontend development</p>
                </li>
                <li>
                    <p class="list-item-description">HeadlessCMS,Wordpress</p>
                </li>
                <li>
                    <p class="list-item-description">Blender(enjoy)</p>
                </li>
            </ul>
        </li>
        <li class="list-item">
            <div class="list-item-ac">
                <h3 class="list-item-title">EDUCATION</h3>
                <button class="accordion-button" type="button">
                    <svg class="mobile-open-ac" width="18" height="18">
                        <use href="../images/favicon/icons.svg#icon-arrow-down"></use>
                    </svg>
                </button>

            </div>


            <ul class="list-item-list">
                <li>
                    <p class="list-item-description">2018 - 2019 / Frontend Development Diploma, GoIT IT
                        School,New York</p>
                </li>
                <li>
                    <p class="list-item-description">2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                        School, New York</p>
                </li>
                <li>
                    <p class="list-item-description">2020 - 2022 / Advanced Blender Animation Techniques, Udemy
                    </p>
                </li>
            </ul>

        </li>
        </ul>
    </div>
    <div class="third-part">
        <ul class="list-skills">
            <li class="list-icon">HTML/CSS</li>
            <li class="list-icon">JavaScript</li>
            <li class="list-icon">React</li>
            <li class="list-icon">Node.js</li>
            <li class="list-icon">React Native</li>
            <li class="list-icon">Soft skills</li>
        </ul>
    </div>

    </div>
</section>