<section id="covers" class="covers">
    <h2 class="covers-header">Section with moving pictures</h2>
    <div class="content">
  <div class="marquee">

    <div class="marquee__inner">
    <img width="544px" src="../images/coversMK2/Rectangle 1.jpg" alt="fitness photo">
    <img width="544px" src="../images/coversMK2/Rectangle 2.jpg" alt="fitness photo">
    <img width="544px" src="../images/coversMK2/Rectangle 3.jpg" alt="fitness photo">
    <img width="544px" src="../images/coversMK2/Rectangle 7.jpg" alt="fitness photo">
  

    <img class="new" width="544px" src="../images/coversMK2/Rectangle 1.jpg" alt="fitness photo">
    <img width="544px" src="../images/coversMK2/Rectangle 2.jpg" alt="fitness photo">
    <img width="544px" src="../images/coversMK2/Rectangle 3.jpg" alt="fitness photo">
    <img width="544px" src="../images/coversMK2/Rectangle 7.jpg" alt="fitness photo">
    
  </div>
   
  
    <div class="marquee__inner">
    <img width="544px" src="../images/coversMK2/Rectangle 1.jpg" alt="fitness photo">
    <img width="544px" src="../images/coversMK2/Rectangle 2.jpg" alt="fitness photo">
    <img width="544px" src="../images/coversMK2/Rectangle 3.jpg" alt="fitness photo">
    <img width="544px" src="../images/coversMK2/Rectangle 7.jpg" alt="fitness photo">
  

    <img class="new" width="544px" src="../images/coversMK2/Rectangle 1.jpg" alt="fitness photo">
    <img width="544px" src="../images/coversMK2/Rectangle 2.jpg" alt="fitness photo">
    <img width="544px" src="../images/coversMK2/Rectangle 3.jpg" alt="fitness photo">
    <img width="544px" src="../images/coversMK2/Rectangle 7.jpg" alt="fitness photo">
    
  </div>
    <div class="marquee__inner">
    <img width="544px" src="../images/coversMK2/Rectangle 1.jpg" alt="fitness photo">
    <img width="544px" src="../images/coversMK2/Rectangle 2.jpg" alt="fitness photo">
    <img width="544px" src="../images/coversMK2/Rectangle 3.jpg" alt="fitness photo">
    <img width="544px" src="../images/coversMK2/Rectangle 7.jpg" alt="fitness photo">
  

    <img class="new" width="544px" src="../images/coversMK2/Rectangle 1.jpg" alt="fitness photo">
    <img width="544px" src="../images/coversMK2/Rectangle 2.jpg" alt="fitness photo">
    <img width="544px" src="../images/coversMK2/Rectangle 3.jpg" alt="fitness photo">
    <img width="544px" src="../images/coversMK2/Rectangle 7.jpg" alt="fitness photo">
    
  </div>

    


</div>
</div>  
</section>