<section id="covers" class="covers">
  <h2 class="covers-header visually-hidden">Section with moving pictures</h2>
  <div class="covers-scroller">
    <div class="covers-scroller-inner-container">
      <div class="covers-scroller-inner">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/coversMK2/Rectangle1.jpg    1x,
              ./images/coversMK2/Rectangle1@2x.jpg 2x,
              ./images/coversMK2/Rectangle1@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            class="image"
            width="282"
            loading="lazy"
            src="./images/coversMK2/Rectangle1.jpg"
            alt="fitness photo"
          />
        </picture>

        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/coversMK2/Rectangle2.jpg    1x,
              ./images/coversMK2/Rectangle2@2x.jpg 2x,
              ./images/coversMK2/Rectangle2@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            class="image"
            width="282"
            loading="lazy"
            src="./images/coversMK2/Rectangle2.jpg"
            alt="fitness photo"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/coversMK2/Rectangle3.jpg    1x,
              ./images/coversMK2/Rectangle3@2x.jpg 2x,
              ./images/coversMK2/Rectangle3@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            class="image"
            width="282"
            loading="lazy"
            src="./images/coversMK2/Rectangle3.jpg"
            alt="fitness photo"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/coversMK2/Rectangle7.jpg    1x,
              ./images/coversMK2/Rectangle7@2x.jpg 2x,
              ./images/coversMK2/Rectangle7@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            class="image"
            width="282"
            loading="lazy"
            src="./images/coversMK2/Rectangle7.jpg"
            alt="fitness photo"
          />
        </picture>
      </div>
      <div class="covers-scroller-inner">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/coversMK2/Rectangle4.jpg    1x,
              ./images/coversMK2/Rectangle4@2x.jpg 2x,
              ./images/coversMK2/Rectangle4@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            class="image"
            width="282"
            loading="lazy"
            src="./images/coversMK2/Rectangle4.jpg"
            alt="fitness photo"
          />
        </picture>

        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/coversMK2/Rectangle6.jpg    1x,
              ./images/coversMK2/Rectangle6@2x.jpg 2x,
              ./images/coversMK2/Rectangle6@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            class="image"
            width="282"
            loading="lazy"
            src="./images/coversMK2/Rectangle6.jpg"
            alt="fitness photo"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/coversMK2/Rectangle5.jpg    1x,
              ./images/coversMK2/Rectangle5@2x.jpg 2x,
              ./images/coversMK2/Rectangle5@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            class="image"
            width="282"
            loading="lazy"
            src="./images/coversMK2/Rectangle5.jpg"
            alt="fitness photo"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/coversMK2/Rectangle9.jpg    1x,
              ./images/coversMK2/Rectangle9@2x.jpg 2x,
              ./images/coversMK2/Rectangle9@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            class="image"
            width="282"
            loading="lazy"
            src="./images/coversMK2/Rectangle9.jpg"
            alt="fitness photo"
          />
        </picture>
      </div>
      <div class="covers-scroller-inner">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/coversMK2/Rectangle5.jpg    1x,
              ./images/coversMK2/Rectangle5@2x.jpg 2x,
              ./images/coversMK2/Rectangle5@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            class="image"
            width="282"
            loading="lazy"
            src="./images/coversMK2/Rectangle5.jpg"
            alt="fitness photo"
          />
        </picture>

        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/coversMK2/Rectangle2.jpg    1x,
              ./images/coversMK2/Rectangle2@2x.jpg 2x,
              ./images/coversMK2/Rectangle2@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            class="image"
            width="282"
            loading="lazy"
            src="./images/coversMK2/Rectangle2.jpg"
            alt="fitness photo"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/coversMK2/Rectangle8.jpg    1x,
              ./images/coversMK2/Rectangle8@2x.jpg 2x,
              ./images/coversMK2/Rectangle8@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            class="image"
            width="282"
            loading="lazy"
            src="./images/coversMK2/Rectangle8.jpg"
            alt="fitness photo"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/coversMK2/Rectangle6.jpg    1x,
              ./images/coversMK2/Rectangle6@2x.jpg 2x,
              ./images/coversMK2/Rectangle6@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            class="image"
            width="282"
            loading="lazy"
            src="./images/coversMK2/Rectangle6.jpg"
            alt="fitness photo"
          />
        </picture>
      </div>
      <div class="covers-scroller-inner">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/coversMK2/Rectangle8.jpg    1x,
              ./images/coversMK2/Rectangle8@2x.jpg 2x,
              ./images/coversMK2/Rectangle8@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            class="image"
            width="282"
            loading="lazy"
            src="./images/coversMK2/Rectangle8.jpg"
            alt="fitness photo"
          />
        </picture>

        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/coversMK2/Rectangle4.jpg    1x,
              ./images/coversMK2/Rectangle4@2x.jpg 2x,
              ./images/coversMK2/Rectangle4@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            class="image"
            width="282"
            loading="lazy"
            src="./images/coversMK2/Rectangle4.jpg"
            alt="fitness photo"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/coversMK2/Rectangle3.jpg    1x,
              ./images/coversMK2/Rectangle3@2x.jpg 2x,
              ./images/coversMK2/Rectangle3@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            class="image"
            width="282"
            loading="lazy"
            src="./images/coversMK2/Rectangle3.jpg"
            alt="fitness photo"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/coversMK2/Rectangle5.jpg    1x,
              ./images/coversMK2/Rectangle5@2x.jpg 2x,
              ./images/coversMK2/Rectangle5@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            class="image"
            width="282"
            loading="lazy"
            src="./images/coversMK2/Rectangle5.jpg"
            alt="fitness photo"
          />
        </picture>
      </div>
    </div>
  </div>
  <script src="../js/covers.js"></script>
</section>
