<section class="covers" id="covers">
  <div class="container">
    <h2 class="covers-header visually-hidden">Section with moving pictures</h2>
    <div class="covers-scroller">
      <div class="covers-scroller-inner-container">
        <div class="covers-scroller-inner">
          <picture>
            <source
              media="(min-width:300px)"
              srcset="
                ./images/covers/covers1.webp    1x,
                ./images/covers/covers1@2x.webp 2x,
                ./images/covers/covers1@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 300px)"
              srcset="
                ./images/covers/covers1.jpg    1x,
                ./images/covers/covers1@2x.jpg 2x,
                ./images/covers/covers1@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="covers-img"
              width="282"
              loading="lazy"
              src="./images/covers/covers1.jpg"
              alt="fitness photo"
            />
          </picture>

          <picture>
            <source
              media="(min-width:300px)"
              srcset="
                ./images/covers/covers5.webp    1x,
                ./images/covers/covers5@2x.webp 2x,
                ./images/covers/covers5@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 300px)"
              srcset="
                ./images/covers/covers5.jpg    1x,
                ./images/covers/covers5@2x.jpg 2x,
                ./images/covers/covers5@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="covers-img"
              width="282"
              loading="lazy"
              src="./images/covers/covers5.jpg"
              alt="english exelience site photo"
            />
          </picture>
          <picture>
            <source
              media="(min-width:300px)"
              srcset="
                ./images/covers/covers3.webp    1x,
                ./images/covers/covers3@2x.webp 2x,
                ./images/covers/covers3@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 300px)"
              srcset="
                ./images/covers/covers3.jpg    1x,
                ./images/covers/covers3@2x.jpg 2x,
                ./images/covers/covers3@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="covers-img"
              width="282"
              loading="lazy"
              src="./images/covers/covers3.jpg"
              alt="wallet site photo"
            />
          </picture>
          <picture
            ><source
              media="(min-width:300px)"
              srcset="
                ./images/covers/covers7.webp    1x,
                ./images/covers/covers7@2x.webp 2x,
                ./images/covers/covers7@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 300px)"
              srcset="
                ./images/covers/covers7.jpg    1x,
                ./images/covers/covers7@2x.jpg 2x,
                ./images/covers/covers7@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="covers-img"
              width="282"
              loading="lazy"
              src="./images/covers/covers7.jpg"
              alt="hotel mimino site photo"
            />
          </picture>
        </div>
        <div class="covers-scroller-inner">
          <picture>
            <source
              media="(min-width:300px)"
              srcset="
                ./images/covers/covers4.webp    1x,
                ./images/covers/covers4@2x.webp 2x,
                ./images/covers/covers4@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 300px)"
              srcset="
                ./images/covers/covers4.jpg    1x,
                ./images/covers/covers4@2x.jpg 2x,
                ./images/covers/covers4@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="covers-img"
              width="282"
              loading="lazy"
              src="./images/covers/covers4.jpg"
              alt="power pulse site photo"
            />
          </picture>

          <picture>
            <source
              media="(min-width:300px)"
              srcset="
                ./images/covers/covers6.webp    1x,
                ./images/covers/covers6@2x.webp 2x,
                ./images/covers/covers6@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 300px)"
              srcset="
                ./images/covers/covers6.jpg    1x,
                ./images/covers/covers6@2x.jpg 2x,
                ./images/covers/covers6@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="covers-img"
              width="282"
              loading="lazy"
              src="./images/covers/covers6.jpg"
              alt="chego site photo"
            />
          </picture>
          <picture>
            <source
              media="(min-width:300px)"
              srcset="
                ./images/covers/covers10.webp    1x,
                ./images/covers/covers10@2x.webp 2x,
                ./images/covers/covers10@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 300px)"
              srcset="
                ./images/covers/covers10.jpg    1x,
                ./images/covers/covers10@2x.jpg 2x,
                ./images/covers/covers10@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="covers-img"
              width="282"
              loading="lazy"
              src="./images/covers/covers10.jpg"
              alt="fruit box site photo"
            />
          </picture>
          <picture>
            <source
              media="(min-width:300px)"
              srcset="
                ./images/covers/covers9.webp    1x,
                ./images/covers/covers9@2x.webp 2x,
                ./images/covers/covers9@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 300px)"
              srcset="
                ./images/covers/covers9.jpg    1x,
                ./images/covers/covers9@2x.jpg 2x,
                ./images/covers/covers9@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="covers-img"
              width="282"
              loading="lazy"
              src="./images/covers/covers9.jpg"
              alt="green harvest site photo"
            />
          </picture>
        </div>
        <div class="covers-scroller-inner">
          <picture>
            <source
              media="(min-width:300px)"
              srcset="
                ./images/covers/covers5.webp    1x,
                ./images/covers/covers5@2x.webp 2x,
                ./images/covers/covers5@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 300px)"
              srcset="
                ./images/covers/covers5.jpg    1x,
                ./images/covers/covers5@2x.jpg 2x,
                ./images/covers/covers5@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="covers-img"
              width="282"
              loading="lazy"
              src="./images/covers/covers5.jpg"
              alt="harvest box site photo"
            />
          </picture>

          <picture>
            <source
              media="(min-width: 300px)"
              srcset="
                ./images/covers/covers2.webp    1x,
                ./images/covers/covers2@2x.webp 2x,
                ./images/covers/covers2@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 300px)"
              srcset="
                ./images/covers/covers2.jpg    1x,
                ./images/covers/covers2@2x.jpg 2x,
                ./images/covers/covers2@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="covers-img"
              width="282"
              loading="lazy"
              src="./images/covers/covers2.jpg"
              alt="english exelience site photo"
            />
          </picture>
          <picture>
            <source
              media="(min-width:300px)"
              srcset="
                ./images/covers/covers8.webp    1x,
                ./images/covers/covers8@2x.webp 2x,
                ./images/covers/covers8@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 300px)"
              srcset="
                ./images/covers/covers8.jpg    1x,
                ./images/covers/covers8@2x.jpg 2x,
                ./images/covers/covers8@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="covers-img"
              width="282"
              loading="lazy"
              src="./images/covers/covers8.jpg"
              alt="some site photo"
            />
          </picture>
          <picture>
            <source
              media="(min-width:300px)"
              srcset="
                ./images/covers/covers6.webp    1x,
                ./images/covers/covers6@2x.webp 2x,
                ./images/covers/covers6@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 300px)"
              srcset="
                ./images/covers/covers6.jpg    1x,
                ./images/covers/covers6@2x.jpg 2x,
                ./images/covers/covers6@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="covers-img"
              width="282"
              loading="lazy"
              src="./images/covers/covers6.jpg"
              alt="chego site photo"
            />
          </picture>
        </div>
        <div class="covers-scroller-inner">
          <picture>
            <source
              media="(min-width:300px)"
              srcset="
                ./images/covers/covers8.webp    1x,
                ./images/covers/covers8@2x.webp 2x,
                ./images/covers/covers8@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 300px)"
              srcset="
                ./images/covers/covers8.jpg    1x,
                ./images/covers/covers8@2x.jpg 2x,
                ./images/covers/covers8@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="covers-img"
              width="282"
              loading="lazy"
              src="./images/covers/covers8.jpg"
              alt="some site photo"
            />
          </picture>

          <picture>
            <source
              media="(min-width:300px)"
              srcset="
                ./images/covers/covers4.webp    1x,
                ./images/covers/covers4@2x.webp 2x,
                ./images/covers/covers4@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 300px)"
              srcset="
                ./images/covers/covers4.jpg    1x,
                ./images/covers/covers4@2x.jpg 2x,
                ./images/covers/covers4@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="covers-img"
              width="282"
              loading="lazy"
              src="./images/covers/covers4.jpg"
              alt="power pulse site photo"
            />
          </picture>
          <picture>
            <source
              media="(min-width: 300px)"
              srcset="
                ./images/covers/covers3.webp    1x,
                ./images/covers/covers3@2x.webp 2x,
                ./images/covers/covers3@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 300px)"
              srcset="
                ./images/covers/covers3.jpg    1x,
                ./images/covers/covers3@2x.jpg 2x,
                ./images/covers/covers3@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="covers-img"
              width="282"
              loading="lazy"
              src="./images/covers/covers3.jpg"
              alt="wallet site photo"
            />
          </picture>
          <picture>
            <source
              media="(min-width:300px)"
              srcset="
                ./images/covers/covers10.webp    1x,
                ./images/covers/covers10@2x.webp 2x,
                ./images/covers/covers10@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 300px)"
              srcset="
                ./images/covers/covers10.jpg    1x,
                ./images/covers/covers10@2x.jpg 2x,
                ./images/covers/covers10@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="covers-img"
              width="282"
              loading="lazy"
              src="./images/covers/covers10.jpg"
              alt="harvest box photo"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
