<section id="faq" class="faq">
  <div class="container faq-container">
    <h2 class="faq-title">FAQ</h2>
    <div class="faq-line"></div>
    <ul class="faq-list">
      <li class="faq-list-item faq-laptop-first close-fqa-list-item-laptop">
        <h3 class="faq-list-item-title">
          What programming
          <div class="mobile-wrap"></div>
          languages ​​are most often
          <div class="mobile-wrap"></div>
          used in your
          <div class="faq-laptop-wrap"></div>
          project?
        </h3>
        <p class="faq-list-item-text faq-mobile-text">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
        <button type="button" class="faq-list-item-btn">
          <svg class="faq-svg" width="20px" heigth="20px">
            <use href="./images/favicon/icons.svg#icon-arrow-up"></use>
          </svg>
        </button>
        <div class="faq-line laptop-line"></div>
      </li>
      <li class="faq-list-item faq-laptop-third close-fqa-list-item-laptop">
        <h3 class="faq-list-item-title">
          What are the deadlines
          <div class="mobile-wrap"></div>
          for the project?
        </h3>
        <p class="faq-list-item-text faq-mobile-text">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
        <button type="button" class="faq-list-item-btn">
          <svg class="faq-svg" width="20px" heigth="20px">
            <use href="./images/favicon/icons.svg#icon-arrow-up"></use>
          </svg>
        </button>
        <div class="faq-line laptop-line"></div>
      </li>
      <li class="faq-list-item faq-laptop-fifth close-fqa-list-item-laptop">
        <h3 class="faq-list-item-title">
          What payment methods
          <div class="mobile-wrap"></div>
          do you accept?
        </h3>
        <p class="faq-list-item-text faq-mobile-text">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
        <button type="button" class="faq-list-item-btn">
          <svg class="faq-svg" width="20px" heigth="20px">
            <use href="./images/favicon/icons.svg#icon-arrow-up"></use>
          </svg>
        </button>
        <div class="faq-line laptop-line"></div>
      </li>
      <li class="faq-list-item close-fqa-list-item-laptop faq-laptop-second">
        <h3 class="faq-list-item-title">
          How can I contact you
          <div class="mobile-wrap"></div>
          ?
        </h3>
        <p class="faq-list-item-text faq-mobile-text">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
        <button type="button" class="faq-list-item-btn">
          <svg class="faq-svg" width="20px" heigth="20px">
            <use href="./images/favicon/icons.svg#icon-arrow-up"></use>
          </svg>
        </button>
        <div class="faq-line laptop-line leptop-line-right"></div>
      </li>
      <li class="faq-list-item close-fqa-list-item-laptop faq-laptop-fourth">
        <h3 class="faq-list-item-title">
          Do you provide advice
          <div class="mobile-wrap"></div>
          or support?
        </h3>
        <p class="faq-list-item-text faq-mobile-text">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
        <button type="button" class="faq-list-item-btn">
          <svg class="faq-svg" width="20px" heigth="20px">
            <use href="./images/favicon/icons.svg#icon-arrow-up"></use>
          </svg>
        </button>
        <div class="faq-line leptop-line-right laptop-line"></div>
      </li>
      <li class="faq-list-item close-fqa-list-item-laptop faq-laptop-sixth">
        <h3 class="faq-list-item-title">
          What does the process of developing a software
          <div class="fqa-tablet-wrap"></div>
          product look like from idea to implementation?
        </h3>
        <p class="faq-list-item-text faq-mobile-text">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
        <button type="button" class="faq-list-item-btn">
          <svg class="faq-svg" width="20px" heigth="20px">
            <use href="./images/favicon/icons.svg#icon-arrow-up"></use>
          </svg>
        </button>
        <div class="faq-line laptop-line leptop-line-right"></div>
      </li>
    </ul>
    <div class="faq-column-line"></div>
  </div>
</section>
