<section class="header-section">
  <div class="container header-wrapper">
    <a href="#" class="logo-link">
      <picture>
        <source
          media="(min-width: 320px)"
          srcset="
            ./images/header/header-desktop@1x.jpg  1x,
            ./images/header/header-desktop@2x.jpg  2x,
            ./images/header/header-desktop@3x.jpg  3x,
            ./images/header/header-desktop@1x.webp 1x,
            ./images/header/header-desktop@2x.webp 2x,
            ./images/header/header-desktop@3x.webp 3x
          "
          type="image/jpg"
        />
        <img
          class="logo-img"
          src="./images/header/header-desktop@1x.jpg"
          alt="icon-resume"
          width="80"
          height="80"
        />
      </picture>
      <svg
        class="icon-logo"
        width="80"
        height="19"
        aria-label="icon-inscription-jefferson"
      >
        <use href="./images/favicon/icons.svg#icon-jefferson"></use>
      </svg>
    </a>
    <nav class="navigation">
      <a class="nav-general-link" href="">Menu</a>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-links" href="#about-me">About me</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-links" href="#benefits">Benefits</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-links" href="#projects">Projects</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-links" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <a class="header-order-link" href="#footer">Order the project</a>
    <button class="header-btn-burger js-open-menu" type="button">
      <svg
        class="burger-icon"
        width="28"
        height="28"
        aria-label="icon mobile menu"
      >
        <use href="./images/favicon/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</section>
