<div class="mobile-menu js-menu-container">
  <button class="mobile-menu-btn js-close-menu" type="button">
    <svg
      class="mobile-menu-icon"
      width="28"
      height="28"
      aria-label="icon close"
    >
      <use href="./images/favicon/icons.svg#icon-close"></use>
    </svg>
  </button>
  <nav class="mobile-menu-nav">
    <ul class="mobile-menu-list">
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-list-item-link js-menu-link" href="#about-me"
          >About me</a
        >
      </li>
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-list-item-link js-menu-link" href="#benefits"
          >Benefits</a
        >
      </li>
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-list-item-link js-menu-link" href="#projects"
          >Projects</a
        >
      </li>
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-list-item-link js-menu-link" href="#faq">FAQ</a>
      </li>
    </ul>
  </nav>
  <a class="mobile-menu-link js-menu-link" href="#footer">Order the project</a>
</div>
