<section class="projects" id="projects">
  <div class="container">
    <h2 class="projects-title">projects</h2>

    <div class="swiper-projects">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="projects-square-wrapper">
            <div class="square-first">
              <ul class="projects-skills-list">
                <li class="projects-skill-item">#react</li>
                <li class="projects-skill-item">#js</li>
                <li class="projects-skill-item">#node js</li>
                <li class="projects-skill-item">#git</li>
              </ul>
              <h3 class="project-section-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                class="projects-see-more-link rotate-out-hor"
                href="https://github.com/melnikartem3/script-wizards-project"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="square-second">
              <img
                class="img-projects"
                loading="lazy"
                srcset="
        ./images/projects/projects-mobile1@1x.jpg  311w,
        ./images/projects/projects-tablet1@1x.jpg  614w,
        ./images/projects/projects-mobile1@2x.jpg  622w,
        ./images/projects/projects-tablet1@2x.jpg 1228w,
        ./images/projects/projects-mobile1@3x.jpg  933w,
        ./images/projects/projects-tablet1@3x.jpg 1842w
    "
                sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
                src="./images/projects/projects-mobile1@1x.jpg"
                alt="scrin project"
              />
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="projects-square-wrapper">
            <div class="square-first">
              <ul class="projects-skills-list">
                <li class="projects-skill-item">#react</li>
                <li class="projects-skill-item">#js</li>
                <li class="projects-skill-item">#node js</li>
                <li class="projects-skill-item">#git</li>
              </ul>
              <h3 class="project-section-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                class="projects-see-more-link rotate-out-hor"
                href="https://github.com/melnikartem3/script-wizards-project"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="square-second">
              <img
                class="img-projects"
                loading="lazy"
                srcset="
        ./images/projects/projects-mobile2@1x.jpg  311w,
        ./images/projects/projects-tablet2@1x.jpg  614w,
        ./images/projects/projects-mobile2@2x.jpg  622w,
        ./images/projects/projects-tablet2@2x.jpg 1228w,
        ./images/projects/projects-mobile2@3x.jpg  933w,
        ./images/projects/projects-tablet2@3x.jpg 1842w
    "
                sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
                src="./images/projects/projects-mobile2@1x.jpg"
                alt="scrin project with pets"
              />
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="projects-square-wrapper">
            <div class="square-first">
              <ul class="projects-skills-list">
                <li class="projects-skill-item">#react</li>
                <li class="projects-skill-item">#js</li>
                <li class="projects-skill-item">#node js</li>
                <li class="projects-skill-item">#git</li>
              </ul>
              <h3 class="project-section-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                class="projects-see-more-link rotate-out-hor"
                href="https://github.com/melnikartem3/script-wizards-project"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="square-second">
              <img
                class="img-projects"
                loading="lazy"
                srcset="
        ./images/projects/projects-mobile3@1x.jpg  311w,
        ./images/projects/projects-tablet3@1x.jpg  614w,
        ./images/projects/projects-mobile3@2x.jpg  622w,
        ./images/projects/projects-tablet3@2x.jpg 1228w,
        ./images/projects/projects-mobile3@3x.jpg  933w,
        ./images/projects/projects-tablet3@3x.jpg 1842w
    "
                sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
                src="./images/projects/projects-mobile3@1x.jpg"
                alt="scrin project vocab builder"
              />
            </div>
          </div>
        </li>
      </ul>
      <div class="arrow-button-wraper">
        <button class="arrow-btn-left projects-btn" type="button">
          <svg class="arrow-btn-left-icon" width="24" height="24" aria-label="left arrow">
            <use href="./images/favicon/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="arrow-btn-right projects-btn" type="button">
          <svg class="arrow-btn-left-icon" width="24" height="24" aria-label="right arrow">
            <use href="./images/favicon/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>