<section class="reviews-page">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list"></ul>
    <div class="reviews-btn-wrapper">
      <button class="reviews-btn-left reviews-btn">
        <svg
          class="reviews-btn-left-icon btn-icon"
          width="32"
          height="32"
          aria-label="left arrow"
        >
          <use href="./images/favicon/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="reviews-btn-right reviews-btn">
        <svg
          class="reviews-btn-right-icon btn-icon"
          width="32"
          height="32"
          aria-label="right arrow"
        >
          <use href="./images/favicon/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
