<section id="footer" class="footer container">
     <div class="footer-headline">

       <div class="footer-logo-tagline">
        <img class="footer-headline-img" srcset="./images/together/together-mobile@1x.jpg 44w,
                    ./images/together/together-tablet@1x.jpg 70w,
                    ./images/together/together-mobile@2x.jpg 88w,
                    ./images/together/together-tablet@2x.jpg 140w,
                    ./images/together/together-mobile@3x.jpg 132w,
                    ./images/together/together-tablet@3x.jpg 210w"
                    sizes="(min-width: 768px) 70px, (max-width: 767px) 44px"
                    src="./images/together/together-mobile@1x.jpg"
                    alt="logo"/>
        <h2 class="footer-headline-tagline">Let&#39;s <span class="footer-headline-span">work</span></h2>
    </div>

        <span class="footer-headline-tagline">together</span>

    </div>

    <form class="footer-form">

        <input class="footer-form-item footer-form-input" type="email" id="email" required 
        pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
        placeholder="clients@gmail.com" autocomplete="off">

        <textarea class="footer-form-item footer-form-textarea"  id="comment" 
        required placeholder="comments" ></textarea>

        <button class="footer-form-button" type="submit">Send</button>

    </form>

    <address class="footer-address">
        <a class="footer-addres-mail footer-addres-item"  href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        <a class="footer-addres-tel footer-addres-item" href="tel:+3801111111111">+380 11 1111 11 11</a>
    </address>

</section>