.title-section {
    display: none;
}

.photo {
    border-radius: 24px;
    max-width: 343px;
    max-height: 500px;
}

.first-part-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--main-text);
    border-radius: 24px;
    width: 343px;
    height: 500px;
    background-color: #242527;
    padding: 32px;
    margin-bottom: 16px;

}

.first-span {
    color: #ed3b44;
}

.second-span {
    color: rgba(250, 250, 250, 0.4);
}

.first-part {
    padding-top: 32px;
    padding-bottom: 16px;
}

.second-part {
    padding-top: 16px;
    padding-bottom: 16px;
}

.list-item-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
    padding-bottom: 44px;
}

.list-item-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
}

.list-item-description2 {
    padding-top: 32px;
}

.list-information {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-item-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-icon {
    border-radius: 100%;
    border: 1px solid white;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}