.covers > .container {
  padding: 0;
}

.covers-img {
  height: 162px;
}

.covers {
  /* display: flex;
  justify-content: center; */
  /* background-color: transparent; */
  height: 508px;
  margin-bottom: 64px;
  padding-top: 32px;
}

.covers-scroller {
  max-width: 375px;

  height: 508px;
  position: relative;
  overflow: hidden;

  background-image: url('/images/covers/elements_vectors_min.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: image-set('/images/covers/elements_vectors.webp');
  background-image: -webkit-image-set('/images/covers/elements_vectors.webp');
}

.covers-scroller-inner-container {
  width: fit-content;
  transform: rotate(17deg);
  position: absolute;
  top: -10px;
}

.covers-scroller-inner {
  position: relative;
  display: flex;
  gap: 2rem;
  width: max-content;
  left: -100px;
  bottom: -200px;
  margin-bottom: 30px;
  flex-wrap: nowrap;
  gap: 2rem;
  animation: flow 20s linear infinite;
  margin-bottom: 30px;
}

@keyframes flow {
  to {
    transform: translate(calc(-50% - 1rem));
  }
}

@media screen and (min-width: 768px) {
  .covers {
    height: 960px;
    margin-bottom: 96px;
    padding-top: 48px;
  }

  .covers-scroller {
    height: 960px;
    max-width: 768px;
  }

  .covers-img {
    width: 544px;
    height: 314px;
  }
  .covers-scroller-inner {
    margin-bottom: 40px;
  }

  .covers-scroller-inner-container {
    top: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .covers {
    padding-top: 82px;
    margin-bottom: 164px;
  }
  .covers-scroller {
    max-width: 1440px;
  }

  .covers-scroller-inner-container {
    top: 0;
  }
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .covers-scroller {
    background-image: url(/images/covers/elements_vectors@2x-min.png);
    background-image: -webkit-image-set(
      '/images/covers/elements_vectors@2x.webp'
    );
    background-image: image-set('/images/covers/elements_vectors@2x.webp');
  }
}
