body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 282px;
  height: 162px;
}

.covers {
  background-color: transparent;
  height: 508px;
  margin-bottom: 164px;
  padding-top: 82px;
}

.covers-scroller {
  max-width: 320px;

  height: 508px;
  position: absolute;
  overflow: hidden;

  background-image: url('../images/coversMK2/elements_vectors_min.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.covers-scroller-inner-container {
  width: fit-content;
  transform: rotate(17deg);
}

.covers-scroller-inner {
  position: relative;
  left: -100px;
  bottom: -200px;
  display: flex;
  width: max-content;
  flex-wrap: nowrap;
  gap: 2rem;
  animation: flow 10s linear infinite;
  margin-bottom: 30px;
}

@keyframes flow {
  to {
    transform: translate(calc(-50% - 1rem));
  }
}

@media screen and (min-width: 768px) {
  .covers {
    height: 960px;
  }

  .covers-scroller {
    height: 960px;
    max-width: 768px;
  }

  img {
    width: 544px;
    height: 314px;
  }
  .covers-scroller-inner {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .covers-scroller {
    max-width: 1440px;
  }
}
