.header-section {
  position: absolute;
  z-index: 99999;
  top: 32px;
  width: 100%;
}

.header-btn-burger {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
  padding: 2px;
  background-color: transparent;
  border: transparent;
}

.logo-wrapper {
  display: flex;
}
.logo-img {
  border-radius: 18px;
  margin-right: 8px;
}

.logo-wrapper {
  display: flex;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: none;
}

.header-order-link {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-btn-burger {
    display: none;
  }

  .nav-links {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .nav-links.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
    animation: fadeInOut 0.5s ease;
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .navigation {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }

  .nav-general-link {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline 2px;
    text-underline-offset: 3.5px;
    transition: color var(--cubic), text-decoration var(--cubic);
  }

  .nav-general-link:hover,
  .nav-general-link:focus {
    color: var(--btn-color);
    text-decoration: none;
  }

  .nav-links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .nav-links {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-underline-offset: 3.5px;
    transition: var(--cubic);
  }

  .nav-links:hover,
  .nav-links:focus {
    color: var(--btn-hover-color);
    text-decoration: underline;
  }

  .header-order-link {
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 163px;
    height: 55px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    background-color: var(--btn-color);
    transition: var(--cubic);
  }

  .header-order-link:hover,
  .header-order-link:focus {
    background-color: var(--btn-hover-color);
  }
}

.logo-img {
  margin-right: 8px;
  border-radius: 18px;
}
